.navbar {
  width: 100%;
  /* opacity: ; */
  position: absolute;
  z-index: 2;
}

.header {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-image: url("../images/bg-image.jpg");
  background-size: 100% 100%;
}
.header-text {
  z-index: 3;
  color: white;
  text-align: center;
}
.header-shadow {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: black;
  opacity: 0.5;
}

.text-animation {
  position: relative;
  font-size: 36px;
  font-weight: bold;
  overflow: hidden; /* Hide overflowing text */
}

.address-text {
  font-size: 20px;
}

.transparent {
  background-color: transparent;
}
.header button {
  border: solid grey;
}
button {
  color: white;
  z-index: 3;
  border-radius: 100px !important;
  transition: 0.5s;
  border: none;
  /* opacity: 0.5; */
}

.big-numbers {
  font-size: 50px;
  opacity: 0.5;
}
.border-right {
  border-right: 0.3px solid;
}
button:hover {
  background-color: grey;
}
.icon-container {
  bottom: 50px;
  position: absolute;
  animation: moveDown 1.5s infinite alternate;
}

@keyframes moveDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(50px);
  }
}
.big-icon {
  font-size: 30px;
}
.md-icon {
  font-size: 20px;
}
.skill-icon {
  margin-right: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 105px;
  opacity: 0.6;
  height: 70px;
  box-shadow: inset 3px;
  background: whitesmoke;
  border-radius: 11px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
}

.blue-icon {
  color: rgb(69, 137, 255);
}
.heading {
  /* width: 50%; */
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  top: 30px;
  text-align: center;
}

hr {
  margin-top: 0px;
}
.primary-heading {
  /* position: absolute; */
  top: 0px;
  opacity: 0.3;
  color: grey;
  font-size: 70px;
}
.secondary-heading {
  position: absolute;
  top: 25px;
  font-size: 30px;
}
.secondary-color {
  color: blue;
}
.row {
  margin: 0;
}
.line {
  position: absolute;
  top: 60px;
  width: 60px;
  border-top: solid blue 4px;
}

.secondary-bg {
  background-color: rgba(248, 245, 245, 0.616);
}

h3 {
  font-weight: 300;
}
.picture-placeholder {
  width: 50px;
  height: 50px;
  border-radius: 100px;
}
.teal {
  background: teal;
}

.red {
  background: red;
}

.comment-card {
  padding: 48px;
}

.skills-container button {
  color: black;
  background-color: transparent;
  border: gray solid 1px;
}

.skills-container button:hover {
  background-color: grey;
  color: white;
}
